h1{
  text-align: center;
}
.App{
  text-align: center;
  display: flex;
  justify-content: center;
  
  align-items: center;
}
.card{
  margin-top: 10px;
  box-shadow: rgba(0,0,0,0.1) 10px 0px 190px 10px;
  height:100px;
  width:200px;
  border-radius:20px;
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  transition:2s ease ;
  border:1px solid #fff;
  cursor: pointer;
  
}
.card:hover{
border:1px solid rgb(208, 208, 208);
box-shadow:none
}